@using GameTimelinePlanner.Shared.Domain.Entity

@if (Duty != null)
{
    <div class="duty-card @Duty.Difficulty" style=background-image:url(/Resources/FFXIV/Duties/@(Duty.Abbr).png);>
        <div class="transbox name">
            <span>@Duty.Name</span>
        </div>
        <span class="abbr">@Duty.Abbr</span>
        <span class="patch info">@Duty.ReleasePatch</span>
        <span class="level info">Lv.@Duty.Level</span>
    </div>
}

@code {
    [Parameter]
    public Duty? Duty { get; set; }
}
