.job-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fbfbfb;
    width: 10em;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: var(--job-color) 0px 0px 0px;
    transition: box-shadow 0.1s;
}
.job-panel:hover {
    box-shadow: var(--job-color) 0px 0px 10px;
}

.job-name {
    font-weight: bold;
    align-self: center;
    text-align: end;
    color: var(--job-color);
}
