@using GameTimelinePlanner.Shared.Domain.Entity

@if (Job != null)
{
    <div class="job-skills-panel">
        <div class="job-panel-container">
            <JobPanel Job="@Job" />
        </div>
        <div class="skills-panel">
            @foreach (Skill skill in Job.Skills)
            {
                <SkillPanel Skill="@skill" />
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public Job? Job { get; set; }
}