.job-skills-panel {
    border: double 0.1em silver;
    border-radius: 10px;
    margin: 2em 1em 1em 1em;
    background-color: #c1c6ff;
}

.job-panel-container {
    margin-left: -1em;
    margin-top: -2em;
}

.skills-panel {
    margin: 0.2em;
    display: flex;
    flex-flow: column;
}