.skill-panel {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    border-radius: 10px;
    margin: 0.1em;
    padding: 0.2em;
    width: 18em;
    background-color: #fcfcfc;
}

.skill-icon {
    align-self: center;
    width: 5em;
    height: 5em;
}

.skill-informations {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.information {
    display: flex;
    flex-direction: row;
}

.information-icon {
    top: 0;
    align-self: center;
    margin: 0.1em;
}

.information-text {
    margin: 0.1em;
}