@using GameTimelinePlanner.Shared.Domain.Entity;

@if (Player != null && Player.Job != null)
{
    <div class="timeline-player">
        <div class="timeline-job">

            <div class="clickable-job" @onclick="DisplayToggle">
                <JobIcon Job="Player.Job" />
            </div>
        </div>
        <div class="timeline-skills-panel @($"{(!_Display ? "hidden" : "")}")" 
            style="--numberOfSkills: @Player.Job.Skills.Count;">
            @foreach (var skill in Player.Job.Skills)
            {
                <TimelineBar Skill="@skill" />
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public Player? Player { get; set; }
    private bool _Display = true;

    private void DisplayToggle()
    {
        _Display = !_Display;
    }
}
