@using GameTimelinePlanner.Shared.Domain.Entity;
@using System.Text

@if (Skill != null)
{
    <div class="timeline-skill">
        <div class=timeline-header>
            <SkillIcon Skill="Skill" />
        </div>
        <div class="timeline-container">
            @* <div class="timeline-bar" /> *@
            <div class="timeline-all-portions">

                @for (int i = 0; i < 100; i++)
                {
                    int index = i;
                    <div class="timeline-portion @(GetClassOfPortion(index))"
                         @onmouseenter="() => SetPotentialIndex(index)"
                         @onmouseleave="() => SetPotentialIndex(null)">
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Skill? Skill { get; set; }

    decimal? potentialCastPortionIndex;
    decimal? potentielCastLastFollowUpIndex;
    decimal? potentielCastLastCooldownIndex;

    private void SetPotentialIndex(int? index)
    {
        potentialCastPortionIndex = index;

        var durationAsPortion = (Skill!.Duration / 2.5m);
        potentielCastLastFollowUpIndex = potentialCastPortionIndex + durationAsPortion;
        
        var cooldownAsPortion = (Skill!.Cooldown / 2.5m);
        potentielCastLastCooldownIndex = potentialCastPortionIndex + cooldownAsPortion;
    }

    private string GetClassOfPortion(int index)
    {
        StringBuilder sb = new();

        if (index == potentialCastPortionIndex)
        {
            sb.Append("potential");
        }
        else if (index > potentialCastPortionIndex && index <= potentielCastLastFollowUpIndex)
        {
            sb.Append("potential-follow-up");
        }
        else if (index > potentielCastLastFollowUpIndex && index <= potentielCastLastCooldownIndex)
        {
            sb.Append("potential-cooldown");
        }

        return sb.ToString();
    }
}
