.duties-panel {
    display: flex;
    flex-wrap: wrap;
    transition: all 1s;
    gap: 1em;
    justify-content: center;
}

div.duties-header {
    margin: 1em;
    background: lightskyblue;
    color: indigo;
    font-size: 24px;
    text-align: center;
}

div.duties-header img.icon {
    max-height: 32px;
    max-width: 32px;
    margin-right: 0.5rem;
}

.duties-panel > div {
    flex: auto;
    max-width: 376px;
    max-height: 120px;
    min-width: 185px;
    min-height: 60px;
}