@page "/joblist"
@using GameTimelinePlanner.Shared.Domain.Entity;
@using GameTimelinePlanner.Client.Component;
@inject HttpClient Http

<PageTitle>Job list</PageTitle>

<h1>Job list</h1>

@if (_jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="jobs-skills-panel">
    @foreach (var job in _jobs)
    {
        <JobSkillsPanel Job="@job"/>
    }
    </div>
}

@code {
    private IList<Job>? _jobs;

    protected override async Task OnInitializedAsync()
    {
        _jobs = await Http.GetFromJsonAsync<IList<Job>>("/job");
    }
}