@page "/timeline2"
@using GameTimelinePlanner.Client.Component.Timeline
@using GameTimelinePlanner.Client.Component.Timeline.Settings
@using GameTimelinePlanner.Shared.Domain.Entity;
@using GameTimelinePlanner.Client.Component;
@inject HttpClient Http

<PageTitle>Timeline builder</PageTitle>

<div class="timeline-container">
    @if (_jobs != null)
    {
        <TimelineSettings Jobs="_jobs" @bind-Players="_players" />

        <div class="timeline">
            <div class="boss-timeline">
            </div>

            @for (int i = 0; i < _players.Count; i++)
            {
                var player = _players[i];
                if (player.Job != null)
                {
                    <TimelinePlayer @bind-Player="player" />
                }
            }
        </div>
    }
</div>


@code {
    private IList<Job>? _jobs { get; set; }
    private IList<Player> _players = new List<Player>() { new(), new(), new(), new(), new(), new(), new(), new() };

    protected override async Task OnInitializedAsync()
    {
        _jobs = await Http.GetFromJsonAsync<IList<Job>>("game/jobs");
    }
}