@page "/timeline2"
@using GameTimelinePlanner.Shared.Domain.Entity;
@using GameTimelinePlanner.Client.Component;
@inject HttpClient Http

<PageTitle>Timeline builder</PageTitle>

<h1>Timeline</h1>

@if (_jobs != null)
{
    <div class="timeline">
        <div class="boss-timeline">
        </div>

        @for (int i = 0; i < _players.Count; i++)
        {
            var player = _players[i];
            if (player.Job == null)
            {
                <JobSelector Jobs="_jobs" @bind-PlayerJob="player.Job" />
            }
            else
            {
                <TimelinePlayer @bind-Player="player" />
            }
        }
    </div>
}


@code {
    private IList<Job>? _jobs { get; set; }
    private IList<Player> _players = new List<Player>() { new(), new(), new(), new(), new(), new(), new(), new() };

    protected override async Task OnInitializedAsync()
    {
        _jobs = await Http.GetFromJsonAsync<IList<Job>>("game/jobs");
    }
}