@using GameTimelinePlanner.Client.Model
@using GameTimelinePlanner.Shared.Domain.Entity;
@using System.Text

@if (Skill != null)
{
    <div class="timeline-skill" data-orientation=@Orientation>
        <div class=timeline-header data-orientation=@Orientation>
            <SkillIcon Skill="Skill" IconSize="IconSize.Large" />
        </div>
        <div class="timeline-container" data-orientation=@Orientation>
            <div class="timeline-all-portions" data-orientation=@Orientation>

                @for (int i = 0; i < 100; i++)
                {
                    int index = i;
                    <div class="timeline-portion @(GetClassOfPortion(index))"
                        data-orientation=@Orientation
                        @onmouseenter="() => SetPotentialUsage(index)"
                        @onmouseleave="() => DeletePotentialUsage()"
                        @onclick="() => ToggleUsage(index)">
                        @if (GetClassOfPortion(index) == "skill")
                        {
                            <SkillIcon Skill="Skill" IconSize="IconSize.Auto" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Skill? Skill { get; set; }

    [Parameter]
    public Player? Player { get; set; }
    
    [CascadingParameter]
    public string? Orientation { get; set; }

    private SkillUsage? _PotentialUsage { get; set; }

    private static readonly decimal _DurationOfPortion = 2.5m;

    private void SetPotentialUsage(int index)
    {
        decimal useTime = _DurationOfPortion * index;
        _PotentialUsage = new SkillUsage(Skill!, useTime);
    }

    private void DeletePotentialUsage()
    {
        _PotentialUsage = null;
    }

    private void ToggleUsage(int index)
    {
        if (Player != null && Skill != null)
        {
            decimal timeOfPortion = _DurationOfPortion * index;

            if (Player.Timeline.HasSkillAtExactStartTime(Skill, timeOfPortion))
            {
                Player.Timeline.RemoveSkill(Skill, timeOfPortion);
            }
            else
            {
                Player.Timeline.AddSkill(Skill, timeOfPortion);
            }
        }
    }

    private string GetClassOfPortion(int index)
    {
        if (Player == null || Skill == null)
        {
            return string.Empty;
        }

        decimal timeOfPortion = _DurationOfPortion * index;

        if (Player.Timeline.HasSkillAtExactStartTime(Skill, timeOfPortion))
        {
            return "skill";
        }

        if (Skill.GetLongestEffect != null && 
            Player.Timeline.IsEffectActive(Skill.GetLongestEffect(), timeOfPortion))
        {
            return "skill-active";
        }

        if (Player.Timeline.IsSkillInCooldown(Skill, timeOfPortion))
        {
            return "skill-cooldown";
        }

        if (_PotentialUsage != null)
        {
            if (_PotentialUsage.StartTime == timeOfPortion)
            {
                return "potential";
            }
            if (_PotentialUsage.HasAnEffectActive(timeOfPortion))
            {
                return "potential-active";
            }
            if (_PotentialUsage.IsInCooldownAt(timeOfPortion))
            {
                return "potential-cooldown";
            }
        }

        return string.Empty;
    }
}
